%footer.page-footer#fixed-footer.orange.lighten-3.black-text.z-depth-2.hide-on-small-only
  .row
    .col.s12.m6
      %h6
        Contact
      %ul
        %li
          E-Mail:
          = mail_to 'builder@coreboot.org'
        %li
          GPG:
          2ACFEA59A3
          18D2336AC9
          8968C3F3A1
          246DC229AC
    .col.s12.m6
      %h6
        About
      %ul
        %li
          = link_to 'Credits', credits_path
