= render 'frontend/animated_slide' do
  %section.build_state{:'data-build-state' => @build.state, :'data-build-id' => @build.id}
  - if @build.pending?
    Preparing build...
    .progress.orange.lighten-4
      .indeterminate.orange.darken-1
  - elsif @build.started?
    Building coreboot image...
    .progress.orange.lighten-4
      .indeterminate.orange.darken-1
  - elsif @build.configured?
    Waiting for Build server to take action...
    .progress.orange.lighten-4
      .indeterminate.orange.darken-1
  - elsif @build.succeeded?
    .card.green.lighten-1
      .card-content.black-text
        %span.card-title Build succeeded!
        %p Your build was successful. Please ensure, that you decrypt the image with your private key before flashing
      .card-action
        %a{:href => "#"} Download

  - elsif @build.failed?
    Build failed
  - else
    %p Build still needs to be configured
    %p= "State: #{@build.state}"
