= render 'animated_slide' do
  .row
    .col.l12
      %a.dropdown-button.btn.grey.darken-2{"data-activates" => "dropdown1", :href => "#"} Choose the vendor of your device
      %ul#dropdown1.dropdown-content
        %li
          %a.grey-text.text-darken-2{:href => "#!"} one
        %li
          %a.grey-text.text-darken-2{:href => "#!"} two
        %li
          %a.grey-text.text-darken-2{:href => "#!"} three


  .row
    .col.l12
      = render 'back_button' do
        = image_tag 'back-arrow.svg', class: 'back-arrow'
        back

      = render 'next_button' do
        next
