default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 10 } %>

development:
  <<: *default
  database: Coreboot_Builder_development

staging:
  <<: *default
  database: Coreboot_Builder_staging

test:
  <<: *default
  database: AfricaReHomepage_test

production:
  <<: *default
  database: Coreboot_Builder_production
