.topBar
  position: fixed
  z-index: 999
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.24)
  width: 100%
  padding: 18px 0
  background-color: $half-baked

  .topBar__logo
    display: block
    margin: 0 auto
    height: 49px
