!!!
%html
  %head
    %title Coreboot Builder
    %link{:href => "https://fonts.googleapis.com/css?family=Roboto:400,500,700", :rel => "stylesheet"}
    = stylesheet_link_tag 'frontend', media: 'all'
    %link{:href => "http://csshake.surge.sh/csshake.min.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css", :rel => "stylesheet"}
    
    = javascript_include_tag 'application'
    = javascript_include_tag 'frontend'
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"}
  %body
    = yield
